{% extends "_base.html" %}
{% from "_flashes.html" import errors %}

{% block content %}
<section class="py-2 container">
  {{ errors(login_user_form) }}
  <div class="row py-lg-5">
    <div class="col-lg-3 col-md-8 mx-auto">
      <h1 class="fw-light text-center">Login</h1><br>
      <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
        <div class="form-floating mb-3">
          {{ login_user_form.email(class_="form-control", placeholder_="name@example.com") }}
          <label for="email">{{ login_user_form.email.label }}</label>
        </div>
        <div class="form-floating mb-3">
          {{ login_user_form.password(class_="form-control", placeholder_="password") }}
          <label for="password">{{ login_user_form.password.label }}</label>
        </div>
        <div class="form-check">
          {{ login_user_form.remember(class_="form-check-input") }}
          <label class="form-check-label" for="remember">{{ login_user_form.remember.label }}</label>
        </div>
        <a href="{{ url_for('security.forgot_password') }}" class="alert-link">Forgot Password?</a>
        {{ login_user_form.csrf_token }}
        <br><br>{{ login_user_form.submit(class_="btn btn-primary") }}
      </form>
    </div>
  </div>
</section>
{% endblock %}
