{% extends '_base.html' %}

{% block content %}
<section class="py-2 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Calculating your equations...</h1>
      <p class="lead text-muted"></p>
      <p>
        <div class="spinner-border" role="status">
          <span class="sr-only"></span>
        </div>
      </p>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.location.href="result"
}, false);
</script>

{% endblock %}