{% extends "_base.html" %}

{% block content %}
<section class="py-2 container">
  <div class="row py-lg-5">
    <div class="col-lg-3 col-md-8 mx-auto">
      <h1 class="fw-light text-center">My Account</h1><br>
      <a class="btn btn-danger me-2" href="{{url_for('deleteaccount')}}" role="button">Delete Account</a>
      {% if not current_user.has_role('social') %}
      <a class="btn btn-success me-2" href="{{ url_for('security.change_password') }}" role="button">Change Password</a>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
