<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>Profile</h1>
    <a href="{{ url_for('security.logout') }}">Logout</a></br>
    {% if not current_user.has_role('social') %}
    <a href="{{ url_for('security.change_password') }}">Change Password</a></br>
    {% endif %}
    <form action="{{ url_for('deleteaccount') }}" method="POST">
        <button type="submit">Delete Account</button>
    </form>
</body>
</html>